:root {
  --primary-color: #ECC9B0;
  --secondary-color: #6C4235;
  --bg-primary-color: #6C4235;
  --bg-secondary-color: #E8BC9D;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #fff;
}

h1, h2 {
  font-family: 'Signika', sans-serif;
}

h1 {
  font-weight: 400;
  font-size: 35px;
  max-width: 42rem;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 1.6rem;
}

#logo svg {
    width: 12rem;
    height: auto;
}

#nav-main > ul > li > a,
.dropdown-bar ul li a {
  font-family: 'Signika', sans-serif;
  font-size: 18px;
  font-weight: 300;
}

#nav-main .link-tertiary svg {
  width: 24px;
  height: 24px;
}

#nav-main .link-tertiary svg path {
  fill: #000;
}

#nav-main .link-tertiary span {
  white-space: nowrap;
}

@keyframes flutter {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(-25deg); }
  100% { transform: rotate(0deg); }
}

.link-tertiary.link-call:hover svg {
  animation: flutter 0.3s 2 ease;
}

main {
  opacity: 0.5;
  transition: 0.3s ease-in-out;
}

main.main-loaded {
  opacity: 1;
}

.hero {
  min-height: 100vh;
  max-width: 100vw;
  background-image: url("images/hero-575.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
  padding: 8rem 1rem 2rem 1rem;
}

.hero .paw-bd{
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 1rem 0;
}

.paw-bd span {
  display: block;
  width: 110px;
  height: 1px;
  background: #fff;
}

.paw-bd svg {
  width: 22px;
  height: 22px;
}

.hero p {
  max-width: 37rem;
}

.hero .hero-cta {
  display: flex;
  align-items: center;
  margin-top: 25px;
  width: fit-content;
  flex-direction: column;
  gap: 15px;
}

.hero .link-tertiary,
#nav-main .link-tertiary {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 8px 28px;
}

.hero .link-tertiary svg {
  width: 24px;
  height: 24px;
}

.hero a#to-services {
  font-family: 'Signika', sans-serif;
  font-size: 25px;
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 4rem auto;
}

@keyframes bob {
  0% { transform: translateY(0); }
  50% { transform: translateY(10px); }
  100% { transform: translateY(0); }
}

.hero a#to-services svg {
  height: 5rem;
  animation: bob 1.5s ease infinite;
}

.services {
  width: 100%;
  height: 100px;
  background: var(--bg-secondary-color);
}


@media screen and (min-width: 575px) {
  header #logo {
    margin-left: 1rem;
  }

  header .btn-toggle-nav {
    right: 2rem;
  }

  h1 {
    font-size: 55px;
  }

  .hero {
    background-image: url("images/hero-900.webp");
    padding: 8rem 2rem 2rem 2rem;
  }

  .hero .hero-cta {
    flex-direction: row;
    gap: 20px;
  }
}

@media screen and (min-width: 900px) {
  #nav-main > ul {
    gap: 0.7rem;
  }

  #nav-main > ul > li > a,
  .dropdown-bar ul li a {
    font-size: 16px;
  }
  
  #nav-main .link-tertiary {
    padding: 5px 10px;
  }

  #nav-main .link-tertiary svg path {
    fill: #fff;
  }

  .hero {
    background-image: url("images/hero-1920.webp");
    background-color: rgba(0, 0, 0, 0);
    padding: 8rem 5rem 0 5rem;
    min-height: calc(100vh + 10rem);
  }

  .hero .link-tertiary {
    width: 11rem;
    padding: 6px 28px;
  }
}

@media screen and (min-width: 1080px) {
  header #logo {
    margin-left: 2.6rem;
  }

  #nav-main > ul {
    gap: 1.6rem;
  }

  #nav-main > ul > li > a,
  .dropdown-bar ul li a {
    font-size: 17px;
  }

  .hero {
    padding: 8rem 7rem 0 7rem;
  }
}

@media screen and (min-width: 1200px) {
  #nav-main {
    padding: 0 7rem;
  }

  

  .hero a#to-services svg {
    height: 6rem;
  }
}
