:root {
  --primary-color: #ECC9B0;
  --secondary-color: #6C4235;
  --bg-primary-color: #6C4235;
  --bg-secondary-color: #E8BC9D;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  color: #fff;
}

h1, h2, h3 {
  font-family: 'Signika', sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 35px;
  max-width: 42rem;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 22px;
}

a {
  font-family: 'Signika', sans-serif;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  line-height: 1.6rem;
}

#logo svg {
    width: 12rem;
    height: auto;
}

#nav-main > ul > li > a,
.dropdown-bar ul li a {
  font-family: 'Signika', sans-serif;
  font-size: 18px;
  font-weight: 300;
}

#nav-main .link-tertiary svg {
  width: 24px;
  height: 24px;
}

#nav-main .link-tertiary svg path {
  fill: #000;
}

#nav-main .link-tertiary span {
  white-space: nowrap;
}

@keyframes flutter {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(-25deg); }
  100% { transform: rotate(0deg); }
}

.link-tertiary.link-call:hover svg,
.link-tertiary.link-call:focus svg  {
  animation: flutter 0.3s 2 ease;
}

main {
  opacity: 0.5;
  transition: 0.3s ease-in-out;
}

main.main-loaded {
  opacity: 1;
}

.hero {
  min-height: 100vh;
  max-width: 100vw; 
  background-image: url("images/hero-575.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
  padding: 8rem 1rem 2rem 1rem;
  overflow-x: hidden;
}

.paw-bd {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 1rem 0;
}

.paw-bd span {
  display: block;
  width: 110px;
  height: 1px;
  background: #fff;
}

.paw-bd svg {
  width: 22px;
  height: 22px;
}

.hero p {
  max-width: 37rem;
}

.hero .hero-cta {
  display: flex;
  align-items: center;
  margin-top: 25px;
  width: fit-content;
  flex-direction: column;
  gap: 15px;
}

.hero .link-tertiary,
#nav-main .link-tertiary {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 8px 28px;
}

.hero .link-tertiary svg {
  width: 24px;
  height: 24px;
}

.hero a#to-services {
  font-family: 'Signika', sans-serif;
  font-size: 25px;
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 4rem auto;
}

@keyframes bob {
  0% { transform: translateY(0); }
  50% { transform: translateY(10px); }
  100% { transform: translateY(0); }
}

.hero a#to-services svg {
  height: 5rem;
  animation: bob 1.5s ease infinite;
}

.services {
  padding-bottom: 5rem;
}

.sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.services .container {
  background: var(--bg-secondary-color);
  width: 100vw;
  max-width: 74rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
  padding: 5rem 0;
  overflow: hidden;
}

.flex-wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.services .container .card {
  width: 300px;
  height: 415px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
}

@keyframes card-tilt {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotate(0deg);
  } 50% {
    transform: rotateX(5deg) rotateY(-5deg) rotate(1deg);
    box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.25);
  } 100% {
    transform: rotateX(10deg) rotateY(-10deg) rotate(2deg);
    box-shadow: 8px 12px 8px rgba(0, 0, 0, 0.30);
  }
}

.services .container .card:hover {
  animation: card-tilt 0.4s ease-out forwards;
}

.services .card img {
  display: block;
}

.services .card .wrapper {
  flex: 1;
  position: relative;
  background: #fff;
  text-align: center;
  padding: 15px 0;
}

.services .wrapper .oval {
  background: #fff;
  clip-path: ellipse(50% 40% at 50% 50%);
  position: absolute;
  top: -28%;
  left: 50%;
  transform: translateX(-50%);
  width: 190%;
  height: 150%;
}

.services .wrapper .icon {
  width: 72px;
  height: 72px;
  background: var(--bg-primary-color);
  border: 3px solid #fff;
  position: absolute;
  border-radius: 50%;
  top: -28%;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.services .icon svg {
  width: 42px;
  height: 42px;
}

.services .card:nth-child(2) .icon svg {
  transform: translateY(-2px);
}

.services .wrapper h3,
.services .wrapper p,
.services .wrapper a {
  position: relative;
  z-index: 1;
}

.services .wrapper h3 {
  color: #000;
}

.services .wrapper p {
  max-width: 14rem;
  margin: 1rem auto;
  text-align: left;
  color: #000;
}

.services .wrapper a {
  font-size: 18px;
  font-weight: 500;
  color: #000;
  display: flex;
  width: fit-content;
  align-items: center;
  position: absolute;
  bottom: 1.2rem;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes sway {
  0% { transform: translateX(0rem); }
  50% { transform: translateX(0.3rem); }
  100% { transform: translateX(0rem); }
}

.services .wrapper a svg {
  width: 23px;
  height: 22px;
  animation: sway 1.3s infinite ease;
}

.services > .container > a {
  margin: 5rem auto 0 auto;
}

.awards {
  padding: 4rem 0;
  max-width: 100vw; 
  background-image: url("images/dogs-bg-575.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: rgba(255, 255, 255, 0.45);
  background-blend-mode: overlay;
  overflow-x: hidden;
}

.awards h2 {
  color: #000;
  text-align: center;
  margin-bottom: 4rem;
}

.awards .flex-wrapper {
  max-width: 74rem;
  gap: 2rem;
}

.awards .award-wrapper {
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 300px;
  position: relative;
  overflow: hidden;
}

.award-wrapper svg.wreath {
  width: 197px;
  position: absolute;
}

svg.wreath-l {
  left: 1rem;
  transform: scaleX(-1) rotate(-45deg) translateY(3rem); 
  transition: 0.5s ease;
}

svg.wreath-r {
  right: 1rem;
  transform: rotate(-45deg) translateY(3rem);
  transition: 0.3s 0.1s ease;
}

.award-wrapper:hover svg.wreath-l {
  transform: scaleX(-1) rotate(-40deg) translateY(3rem);
}

.award-wrapper:hover svg.wreath-r {
  transform: rotate(-50deg) translateY(3rem);
}

.award-wrapper h3 {
  max-width: 13rem;
  margin-top: 4rem;
}

.award-wrapper h3 span.year {
  display: block;
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 30px;
  margin-top: 3px;
}

.award-wrapper p {
  text-align: left;
  margin-top: 8rem;
}

.award-wrapper:nth-child(3) p {
  margin-top: 6.3rem;
}

.awards .link-secondary {
  margin: 4rem auto auto auto;
}

.awards .link-secondary::before {
  background: var(--bg-secondary-color);
}

.team {
  display: flex;
  flex-direction: column;
}

.team .manager {
  background: var(--bg-primary-color);
  display: grid;
  justify-items: center;
  padding-top: 9rem;
  padding-bottom: 4rem;
  position: relative;
  width: 100vw;
}

.team .manager h2 {
  position: absolute;
  top: 4rem;
}

.manager img {
  width: 300px;
  margin-bottom: 2rem;
}

.manager > span {
  font-family: 'Lato', sans-serif;
  margin-top: 0.2rem;
  opacity: 0.7;
}

.manager p {
  max-width: 280px;
}

.team .members {
  padding: 4rem 0;
  color: #000;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: min-content;
}

.members p {
  margin-top: 2.5rem;
  max-width: 437px;
}

.members .link-primary {
  margin: 3rem auto 0 auto;
}

.features {
  background: #422a20;
  padding: 5rem 0;
  overflow-x: hidden;
  max-width: 100vw;
  background-image: url("images/features-575.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
}

.features h2 {
  text-align: center;
}

.features .flex-wrapper {
  max-width: 74rem;
  margin-top: 3.5rem;
  column-gap: 2rem;
}

.features .flex-wrapper .feature-wrapper {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 3rem;
}

.feature-wrapper svg {
  width: 42px;
  height: 42px;
  margin-bottom: 1.5rem;
  transition: 0.3s ease-in-out;
}

.feature-wrapper:hover svg {
  transform: translateY(-7px);
}

.feature-wrapper h3 {
  margin-bottom: 2rem;
}

.features .link-primary {
  margin: 0 auto;
}

.cta {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.cta .container {
  background: #fff;
  color: #000;
  display: grid;
  justify-items: center;
  position: relative;
}

.cta .container h2 {
  margin-top: 4rem;
  margin-bottom: 3rem;
  color: var(--secondary-color);
}

.cta .container p {
  max-width: 300px;
  margin: 2rem 0;
}

.cta .container .socials svg {
  width: 47px;
  height: 47px;
  margin-bottom: 2rem;
  transition: 0.3s ease;
}

.cta .container .socials a:hover svg,
.cta .container .socials a:focus svg {
  transform: rotate(10deg);
}

.cta .container h3 a {
  color: var(--secondary-color);
  text-decoration: underline;
}

.cta .container .link-primary {
  margin: 3rem 0;
}

.gallery {
  color: #000;
  overflow-x: hidden;
  padding: 4rem 20px;
}

.gallery h2 {
  text-align: center;
}

.gallery .grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1rem;
  margin: 3rem auto 0 auto;
  max-width: 1170px;
  transition: gap 0.3s ease;
  cursor: pointer;

  /* remove blue highlight */
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.gallery .grid-wrapper:hover {
  gap: 0.5rem;
}

.gallery .image-container {
  transition: filter 0.2s ease;
  position: relative;
}

.gallery .image-container * {
  pointer-events: none;
}

.gallery .image-container svg {
  position: absolute;
  width: 4rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  transition: 0.5s ease-in-out;
  opacity: 0;
}

.gallery .grid-wrapper .image-container:hover {
  filter: brightness(0.8);
}

.gallery .grid-wrapper .image-container.image-hovered svg {
  transform: translate(-50%, -50%);
  opacity: 1;
}

.gallery .grid-wrapper .image-container img {
  overflow: hidden;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.gallery .grid-wrapper .image-container img {
  width: 100%;
  height: 100%;
}

.gallery a {
  color: var(--secondary-color);
  position: relative;
  display: block;
  width: fit-content;
  margin: 3rem auto 0 auto;
  font-size: 20px;
}

.gallery a svg {
  position: absolute;
  display: none;
}

#image-dialog {
  width: 800px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  outline: none;
  border: none;
  object-fit: cover;
  background: rgba(0, 0, 0, 0);
}

#image-dialog::backdrop {
  background: rgba(0, 0, 0, 0.8);
}

#image-dialog img {
  width: 100%;
  display: block;
}

@keyframes loading-rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#image-dialog svg {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
  animation: loading-rotate 5s infinite linear;
}

.reviews-faq-flex {
  max-width: 100vw; 
  background-image: url("images/dogs-bg-575.webp");
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  overflow-x: hidden;
}

.reviews {
  padding: 4rem 0;
}

.reviews h2 {
  color: #000;
}

.reviews .carousel {
  position: relative;
}

.reviews .carousel .carousel-btn {
  background: #fff;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.reviews .carousel .carousel-btn:focus {
  border: 1px solid #000;
}

.carousel-btn[data-direction="left"] {
  left: 0.5rem;
}

.carousel-btn[data-direction="right"] {
  right: 0.5rem;
}

.reviews h2 {
  text-align: center;
}

.reviews .carousel {
  width: fit-content;
  margin: 4rem auto 0 auto;
}

.reviews .carousel-btn svg {
  pointer-events: none;
  min-width: 55px;
}

.reviews .carousel-btn[data-direction="left"] svg {
  transform: rotateY(180deg);
}

.reviews .carousel .card-container {
  width: 100vw;
  max-width: 537px;
  position: relative;
  overflow-x: hidden;
}

.reviews .carousel .card-container ul {
  display: flex;
  list-style: none;
  position: relative;
  transition: left 0.5s ease;
  left: 0;
}

.reviews .carousel .card-container li {
  background: #935B4A;
  padding: 2rem 3.8rem;
  font-size: 14px;
  text-align: left;
  min-width: 100%;
}

.reviews .carousel li .stars {
  width: 150px;
  margin: 0 auto;
  display: block;
}

.reviews .carousel blockquote cite {
  text-align: center;
  display: block;
  margin-top: 1.5rem;
  font-size: 25px;
  font-style: normal;
  font-family: 'Signika', sans-serif;
}

.reviews .carousel blockquote p {
  margin-top: 2rem;
  font-family: 'Signika', sans-serif;
}

.reviews .link-primary {
  margin: 5rem auto 0 auto;
}

.faq {
  width: 100%;
  background: rgba(232, 188, 157, 0.8);
  padding: 4rem 1rem;
  color: #000;
}

.faq h2 {
  text-align: center;
}

.faq .container {
  margin: 4rem auto 0 auto;
  max-width: 520px;
}

.faq-row {
  border-bottom: 2px solid black;
  cursor: pointer;

  /* remove blue highlight */
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.faq-row .question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

.faq-row .question div.icon {
  border: 1px solid #000;
  width: fit-content;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  opacity: 0.6;
  transition: transform 0.5s ease;
}

.faq-row .question div.icon svg {
  width: 23px;
  height: 23px;
}

.faq-row:hover .question div.icon {
  opacity: 1; 
}

.faq-row .answer {
  padding: 0.5rem 0;
}

.faq-row .answer p {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.7s ease;
}

@keyframes fade {
  from{
    opacity: 0;
    transform: translateY(-0.5rem);
  } to {
    opacity: 1;
    transform: translate(0);
  }
}

.faq-row[data-active] .answer {
  animation: fade 1s ease;
}

.faq-row[data-active] .answer p {
  max-height: 8rem;
}

.faq-row[data-active] .question div.icon {
  transform: rotate(45deg);
}

.faq svg.down-arrow {
  width: 22px;
  height: 22px;
  display: block;
  margin: 5rem auto 0 auto;
}

.faq .link-secondary {
  margin: 2rem auto 0 auto;
}

.contact form {
  background: #fff;
  padding: 1rem 1.5rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  width: 100%;
  max-width: 470px;
}

form h3 {
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2rem;
  color: #000;
}

form .form-input {
  margin-bottom: 1rem;
}

.form-input label {
  display: block;
  margin-bottom: 3px;
  font-weight: 600;
  color: #000;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
}

.form-input label > span {
  font-weight: 400;
  font-size: 0.9rem;
}

.form-input input {
  width: 100%;
  height: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  padding: 0 1rem;
  outline: none;
}

.form-input textarea {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  padding: 1rem;
}

.form-input input[aria-invalid="false"],
.form-input textarea[aria-invalid="false"] {
  background: rgb(208, 250, 208);
  border: 1px solid rgb(0, 150, 0);
}

.form-input input[aria-invalid="true"],
.form-input textarea[aria-invalid="true"] {
  background: rgb(255, 200, 200);
  border: 1px solid rgb(150 0 0);
}

.form-input input:focus {
  border: 2px solid #000;
}

.form-input .error-message {
  color: red;
  font-size: 1rem;
  font-size: 0.9rem;
  margin-top: 3px;
  visibility: visible;
}

.form-input .error-message[aria-hidden="true"] {
  visibility: hidden;
}

form button {
  margin: 0 auto;
  border: none;
}


@media screen and (min-width: 575px) {
  h1 {
    font-size: 55px;
  }

  h2 {
    font-size: 31px;
  }

  header #logo {
    margin-left: 1rem;
  }

  header .btn-toggle-nav {
    right: 2rem;
  }

  .hero {
    background-image: url("images/hero-900.webp");
    padding: 8rem 2rem 2rem 2rem;
  }

  .hero p {
    font-size: 18px;
  }

  .hero .hero-cta {
    flex-direction: row;
    gap: 20px;
  }

  .awards,
  .reviews-faq-flex {
    background-image: url("images/dogs-bg-900.webp");
  }

  .features {
    background-image: url("images/features-900.webp");
  }

  .cta .container p {
    max-width: 25rem;
  }

  .gallery .grid-wrapper .image-container:nth-of-type(2) {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
  }

  .gallery a {
    font-size: 25px;
  }
}

@media screen and (min-width: 700px) {
  .reviews .carousel .card-container {
    border-radius: 45px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
  }

  .reviews .carousel .carousel-btn {
    background: var(--bg-secondary-color);
    transition: 0.3s ease;
  }

  .reviews .carousel .carousel-btn:hover {
    background: #c7a085;
  }

  .carousel-btn[data-direction="left"] {
    left: -4rem;
  }

  .carousel-btn[data-direction="right"] {
    right: -4rem;
  }

  .carousel-btn svg {
    transition: 0.3s ease;
  }
  
  .carousel-btn[data-direction="right"]:hover svg {
    transform: translate(0.5rem);
  }

  .carousel-btn[data-direction="left"]:hover svg {
    transform: translate(-0.5rem) rotateY(180deg);
  }

  .reviews .carousel .card-container {
    min-height: 305px;
  }

  .reviews .carousel .card-container ul {
    height: 100%;
  }

  .reviews .carousel li .stars {
    width: 209px;
    height: 30px;
  }

  .reviews .carousel blockquote cite {
    font-size: 31px;
  }

  .reviews .carousel blockquote p {
    text-align: center;
  }
}

@media screen and (min-width: 900px) {
  #nav-main > ul {
    gap: 0.7rem;
  }

  #nav-main > ul > li > a,
  .dropdown-bar ul li a {
    font-size: 16px;
  }
  
  #nav-main .link-tertiary {
    padding: 5px 10px;
  }

  #nav-main .link-tertiary svg path {
    fill: #fff;
  }

  .hero {
    background-image: url("images/hero-1920.webp");
    background-color: rgba(0, 0, 0, 0);
    padding: 8rem 5rem 0 5rem;
    min-height: calc(100vh + 10rem);
  }

  .hero .link-tertiary {
    width: 11rem;
    padding: 6px 28px;
  }

  .services .card h3 {
    font-size: 31px;
  }

  .awards,
  .reviews-faq-flex {
    background-image: url("images/dogs-bg-1920.webp");
  }

  .team .manager {
    grid-template-columns: auto auto;
    justify-content: center;  
    column-gap: 2.5rem;
  }

  .team .manager img {
    grid-row: 1 / 5;
    grid-column: 1 / 2;
    justify-self: end;
    margin-bottom: 0;  
  }

  .team .manager h3 {
    margin-top: 2rem;
  }

  .manager .paw-bd {
    margin-top: 0;
  }

  .features {
    background-image: url("images/features-1920.webp");
  }

  .features .flex-wrapper {
    margin-top: 5rem;
  }

  .features .link-primary {
    margin-top: 3rem;
  }

  .cta {
    background: var(--bg-secondary-color);
  }

  .cta .container {
    grid-template-columns: auto 1fr;
    max-width: 1170px;
    margin: 0 auto;
    align-items:flex-start;
    justify-items: flex-start;
    column-gap: 2rem;
    max-height: 727px;
    overflow: hidden;
  }

  .cta .container picture {
    grid-row: 1 / 6;
    grid-column: 1 / 2;
  }

  .cta .container h2 {
    margin: 6.5rem 0 2rem 0;
  }

  .cta .container p {
    margin: 0;
  }

  .cta .container .socials {
    margin: 1rem 0;
  }

  .cta .container .socials svg {
    margin: 0;
  }

  .cta .container h3 {
    margin-bottom: 6rem;
  }

  .cta .container .link-primary {
    margin: 0;
    margin-bottom: 15rem;
  }

  .gallery .grid-wrapper {
    gap: 1rem;
  }

  .gallery a {
    margin: 5rem auto 0 auto;
    font-size: 25px;
  }

  @keyframes arrow-motion {
    0% {
      left: -90px;
      top: -40px;
    } 50% {
      left: -100px;
      top: -50px;
    } 100% {
      left: -90px;
      top: -40px;
    }
  }

  .gallery a svg {
    display: inline;
    width: 75px;
    height: 75px;
    left: -90px;
    top: -40px;
    transform: rotate(18deg);
  }

  .gallery a:hover svg {
    animation: arrow-motion 1s ease infinite;
  }
}

@media screen and (min-width: 1080px) {
  header #logo {
    margin-left: 2.6rem;
  }

  #nav-main > ul {
    gap: 1.6rem;
  }

  #nav-main > ul > li > a,
  .dropdown-bar ul li a {
    font-size: 17px;
  }

  .hero {
    padding: 8rem 7rem 0 7rem;
  }

  .features {
    padding-bottom: 12rem;
  }

  .cta {
    padding-bottom: 3rem;
  }

  .cta .container {
    column-gap: 7rem;
    transform: translateY(-5rem);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
  }

  .gallery {
    border: none;
  }
}

@media screen and (min-width: 1200px) {
  #nav-main {
    padding: 0 7rem;
  }

  .hero a#to-services svg {
    height: 6rem;
  }

  .services .container {
    transform: translateY(-4.5rem);
  }

  .team {
    flex-direction: row;
    overflow-x: hidden;
  }

  .team h2 {
    right: 18rem;
  }

  .team .manager {
    width: 56vw;
    justify-content: right;
    padding-right: 3rem;
    align-content: flex-start;
  }

  .team .members {
    margin: 0;
    padding: 7rem 0 4rem 3rem;
  }

  .features {
    padding-bottom: 10rem;
  }
}

@media screen and (min-width: 1400px) {
  .reviews-faq-flex {
    display: flex;
  }

  .reviews-faq-flex > * {
    flex: 1;
    padding-bottom: 7rem;
  }
}
