:root {
    --primary-color: #1F2B1C;
    --secondary-color: #B2CB9E;
    --tertiary-color: #AAEADE;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  border: 1px solid green;
}

#logo svg {
    width: 10rem;
    height: auto;
}

.hero {
  min-height: 100vh;
  max-width: 100vw;
  background-image: url("images/hero-575.webp");
  background-size: cover;
}
